<script>
  window.cashData = {{{ cashResults }}};

  window.expenseData = {{{ expenseResult }}};

  window.incomeData = {{{ incomeResult }}};
</script>

<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="nav-color">
      <div class="nav-wrapper">
        <ul>
          <li>
            <h1 class="logo-wrapper">
              <a href="index.html" class="brand-logo center">
                <span class="logo-text">Burnrate</span>
              </a>
            </h1>
          </li>
        </ul>
        <ul class="right">

          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
              <i class="material-icons">settings_overscan</i>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
      <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li>
          <a class="waves-effect waves-dark btn modal-trigger" href="#cash">
            <i class="material-icons">attach_money</i>
            <span class="waves-effect waves-block waves-light nav-text">Cash</span>
          </a>
        </li>

        <li>
          <a class="waves-effect waves-dark btn modal-trigger" href="#company">
            <i class="material-icons">list</i>
            <span class="waves-effect waves-block waves-light nav-text">Company</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark btn modal-trigger" href="#expenses">
            <i class="material-icons">credit_card</i>
            <span class="waves-effect waves-block waves-light nav-text">Expenses</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark btn modal-trigger" href="#income">
            <i class="material-icons">attach_money</i>
            <span class="waves-effect waves-block waves-light nav-text">Income</span>
          </a>
        </li>
        <li>
          <a class="waves-effect waves-dark btn modal-trigger" href="#browse">
            <i class="material-icons">list</i>
            <span class="waves-effect waves-block waves-light nav-text">Browse Data</span>
          </a>
        </li>

      </ul>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->

    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s4">
              <div class="card">
                <div class="card-cashRemaining">
                  <svg id="fillgauge1" width="100%" height="200"></svg>
                  <span class="card-title">Cash Remaining</span>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card">
                <div class="card-income">
                  <svg id="fillgauge4" width="100%" height="200"></svg>
                  <span class="card-title">Income / Starting Cash </span>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card">
                <div class="card-expenses">
                  <svg id="donut-chart" width="100%" height="200"></svg>
                  <span class="card-title">Expenses by Category</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card" id="linecard">
                <div class="card-image" id="line">
                  <!-- <img src="../VC2_final_branding1.png">
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                          <i class="material-icons">x</i>
                        </a> -->
                </div>
                <div class="card-content">
                  <span class="card-title">Ballpark Cash Timeline</span>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- The Modals -->

                <!-- Cash Info -->
        <div id="cash" class="modal">
          <div class="modal-content">
            <p>Starting Cash Amount</p>
            <div class="card-panel">
              <div class="card-content">
                <form action="/api/cash/update{{this.id}}" method="POST">
                  <input name="amount" type="text" placeholder="100000">
                  <button class="modal-close waves-effect waves-light btn-flat" type="submit">Submit!</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        

        <!-- Company Info -->
        <div id="company" class="modal">
          <div class="modal-content">
            <div class="card-panel">
              <div class="card-content">
                <h4>Add New</h4>
                <form action="">
                  <p class="card-title">Company Info</p>
                  <p>Company Name:
                    <input id="companyname" type="text" placeholder="Ballpark Burnrate">
                  </p>

                  <input href="#!" id="companybtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
                  <p>Your Companies:</p>
                  <table id="companytbl">
                  </table>
                </form>

              </div>
            </div>
          </div>
        </div>


        <!-- Table Modal -->
        <div id="browse" class="modal">
          <div class="modal-content">
            {{!-- <form action=""> --}}
              <h4>Expenses</h4>
              <table id="exptbl">
                <thead>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
              </thead>
              <tbody>
                {{#each dbExpenseByUser}}
                <tr>
                  <td>{{category}}</td>
                  <td>{{amount}}</td>
                  <td>{{date}}</td>
                  <td>  
                    <button data-id="{{this.id}}" id="deleteExpense">Delete</button> 
                    </td>
                </tr>
                {{/each}}
              </tbody>
              </table>
              <p></p>
              <h4>Income</h4>
              <table id="inctbl">

              </table>
              <input href="#!" id="itblbtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
            {{!-- </form> --}}
          </div>
        </div>

       

        <!-- Expenses -->
        <div id="expenses" class="modal">
          <div class="modal-content">
            <h4>Add New</h4>
            <form method="post" action="/api/expenses">
              <p>Expense Amount ($):
                <input name="expenseamt" type="text" placeholder="10000">
              </p>
              <p>Expense Date:
                <input name="expensedate" type="date" placeholder="">
              </p>
              <p>Vendor:
                <input name="vendor" type="text" placeholder="Amazon">
              </p>
              <p>Expense Description:
                <input name="expensedesc" type="text" placeholder="Web Services">
              </p>
              <p>Expense Category:
                <input name="expensecat" type="text" placeholder="Misc">
              </p>
              <input href="#!" id="expensebtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
            </form>
          </div>

        </div>

        <!-- Income -->
        <div id="income" class="modal">
          <div class="modal-content">
            <h4>Add New</h4>
            <form method="post" action="/api/incomes">
              <p>Income Amount ($):
                <input name="incomeamt" type="text" placeholder="10000">
              </p>
              <p>Income Date:
                <input name="incomedate" type="date" placeholder="">
              </p>
              <p>Customer:
                <input name="customer" type="text" placeholder="Netflix">
              </p>
              <p>Income Description:
                <input name="incomedesc" type="text" placeholder="Web Services">
              </p>
              <input href="#!" id="incomebtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
            </form>
          </div>
        </div>


      </div>
      <!--end container-->
    </section>
    <!-- END CONTENT -->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->